<h1>Edit Restaurant</h1>

<div class="flex">
<%= form_for(@restaurant) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
<br>
  <p>
  <%= f.label :address %>
  <%= f.text_field :address %>
<br>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>
  <br>
  <%= f.label :category %>
  <%= f.text_field :category %>
</p>
<br>
  <%= f.submit "Edit Restaurant"%>
  <% end %>
<br>
</div>
<div>
  <%= link_to "Back to list", restaurants_path %>
</div>
